body {margin:0px; font-family:Verdana,宋体; font-size:12px; color:#000000;}
#ibody{width:100%; margin:0 auto;}
#itop{width:100%; height:111px; background:url('../images/top_bg.jpg') repeat-x; float:left; display:inline;}
#imiddle{width:1002px; margin:0 auto;}
#ibottom{width:1002px; margin:0 auto;}
#t_t{width:1002px; height:71px; margin:0 auto;}
#t_t #logo{width:212px; height:52px; margin-top:10px; margin-left:1px; float:left; display:inline;}
#t_t_r{margin-top:10px; margin-right:1px; color:#ffffff; text-align:right; float:right; display:inline;}
#t_t_r a{color:#ffffff; text-decoration:none;}
#t_b{width:1002px; height:38px; margin-top:10px; margin:0 auto;}
#t_b_l{margin-top:9px; line-height:20px; float:left; display:inline;margin-left:20px;}
.menu_item_box{float:left;width:57px;margin-right:80px; }
#t_b_l a{ color:#ffffff; font-weight:bold; text-decoration:none;}
#search{width:281px; margin-top:6px; float:right; display:inline;}
#search input{width:180px; height:25px; padding-top:1px; line-height:24px; padding-left:29px; color:#ffffff; border:0px; background:url('../images/input_bg.jpg') no-repeat; float:left; display:inline;}
#search #button{width:71px; height:26px; border:0px; background:url('../images/button_bg.jpg') no-repeat; float:right; display:inline;}
.icon{width:5px; height:5px; margin-right:10px; float:right; display:inline;}
#m_flash1{width:1002px; text-align:center; margin:0 auto}
#m_flash2{width:100%; height:60px; text-align:center; background:#1E2020; float:left; display:inline;}
#m_flash2 #m_f{width:1002px; height:50px; margin:0 auto; margin-top:5px;}
#m_l{width:712px; float:left; display:inline;}
#m_l_t{width:712px; height:253px; margin-top:10px; background:url('../images/m_l_t_bg.jpg') no-repeat; float:left; display:inline;}
#haha{width:1px; height:1px; overflow:hidden; float:left; display:inline;}
#m_l_t .title1{width:58px; height:34px; margin-top:9px; margin-right:12px; line-height:34px; font-weight:bold; cursor:pointer; color:#333333; text-align:center; float:left; display:inline;}
#m_l_t .title1 a{font-weight:bold; color:#333333; text-decoration:none;}
#m_l_t .title2{width:58px; height:34px; margin-top:9px;  margin-right:11px; line-height:34px; font-weight:bold; cursor:pointer; color:#666666; text-align:center; float:left; display:inline;}
#m_l_t .title2 a{font-weight:bold; color:#666666; text-decoration:none;}
#m_l_t #more{margin-top:20px; margin-right:5px;  float:right; display:inline;}
#m_l_t #more a{color:#0099FF; text-decoration:none;}
#m_l_t .context{width:712px; height:192px; float:left; display:inline;}
#m_l_t .content{width:213px; height:192px; margin-top:10px; margin-left:14px; margin-right:10px; overflow:hidden; float:left; display:inline;}
#m_l_t .c_title{width:213px; height:16px; line-height:16px; overflow:hidden; float:left; display:inline;}
#m_l_t .c_title a{color:#000000; text-decoration:none;}
#m_l_t .c_title a:hover{color:#0065A9; text-decoration:none;}
#m_l_t .c_content{width:213px; margin-top:10px; line-height:20px; color:#666666; overflow:hidden; float:left; display:inline;}
#m_l_t .c_content a{color:#000000; text-decoration:none;}
#m_l_t .c_content a:hover{color:#000000; text-decoration:underline;}
.m_l_m{width:712px; margin-top:10px; float:left; display:inline;}
.title_name{margin-top:10px; margin-left:10px; line-height:23px; font-size:14px; font-weight:bold; float:left; display:inline;}
.pic2{width:23px;height:23px; margin-top:10px; margin-left:10px; float:left; display:inline;}
.m_l_m .title{width:712px; height:43px; background:url('../images/index_title.jpg') no-repeat; float:left; display:inline;}
.m_l_m .title a{font-weight:bold; color:#333333; text-decoration:none;}
.m_l_m .more{margin-top:12px; margin-right:10px; line-height:16px; float:right; display:inline;}
.m_l_m .more a{color:#0099FF; text-decoration:none;}
.addjian{margin-top:10px; margin-right:10px; float:right; display:inline;}
.m_l_m .m_context{width:710px; border-left:1px solid #cccccc; border-right:1px solid #cccccc;  float:left; display:inline;}
.m_l_m .m_content{width:111px; margin-top:10px; margin-left:6px; float:left; display:inline;}
.m_l_m .c_title1{width:111px; height:16px; line-height:16px; overflow:hidden; float:left; display:inline;}
.m_l_m .c_title1 a{color:#0065A9; text-decoration:none;}
.m_l_m .c_title1 a:hover{color:#0065A9; font-weight:bold; text-decoration:none;}
.m_l_m .c_content1{width:111px; margin-top:10px; line-height:20px; color:#666666; float:left; display:inline;}
.m_l_m .c_content1 a{color:#474747; text-decoration:none;}
.m_l_m .c_content1 a:hover{color:#000; text-decoration:none;}
.m_l_m .styleset{width:60px; height:24px; padding-top:4px; padding-left:120px; margin-top:8px; margin-left:10px; background:url('../images/style_set.jpg') no-repeat; float:left; display:inline;}
.m_l_m .resetstyle{width:158px; height:28px; margin-top:8px; margin-right:10px; background:url('../images/reset_style.jpg') no-repeat; float:right; display:inline;}
.m_l_m .stylecontent{width:710px; border:1px solid #cccccc; border-top:none; padding-bottom:10px; background:#f2f2f2; float:left; display:inline;}
.m_l_m .stylecontext1{width:133px; height:24px; padding-left:10px; line-height:24px; margin-top:10px; margin-left:20px; background:url('../images/style_content1_bg.jpg') no-repeat; float:left; display:inline;}
.m_l_m .stylecontext2{width:133px; height:24px; padding-left:10px; line-height:24px; margin-top:10px; margin-left:20px; color:#ffffff; background:url('../images/style_content2_bg.jpg') no-repeat; float:left; display:inline;}
.m_l_m .stylebutton{width:600px; margin-right:40px; text-align:right; float:right; display:inline;}
.m_l_m .stylebutton button{width:93px; height:24px; border:0px; line-height:24px; text-align:center; background:url('../images/style_button.jpg') no-repeat;}
.m_l_m_b{width:712px; height:30px; background:url('../images/index_m_l_m_b.jpg') no-repeat; float:left; display:inline;}
#m_l_b{width:712px; height:120px; margin-top:10px; background:url('../images/m_l_b_bg.jpg') no-repeat; float:left; display:inline;}
#m_l_b #more{margin-top:20px; margin-right:10px; float:right; display:inline;}
#m_l_b #more a{color:#0099FF; text-decoration:none;}
#m_l_b #content{width:644px; margin-left:34px; margin-top:10px; float:left; display:inline;}
#m_r{width:279px; float:right; display:inline;}
#m_r_t{width:279px; margin-top:10px; float:right; display:inline;}
#m_r_t #title{width:279px; height:32px; background:url('../images/m_r_t.jpg') no-repeat; float:right; display:inline;}
.r_pic{width:14px; height:14px; margin-top:9px; margin-right:10px; line-height:14px; float:right; display:inline;}
#m_r_t #content{width:279px;  line-height:22px; border:1px solid #DADADA;background:#F2F2F2; float:left; display:inline;}
#m_r_t #content .cl{width:260px; height:22px; line-height:20px; margin-top:5px; margin-left:10px; overflow:hidden; float:left; display:inline;}
#m_r_t #content .cl a{color:#000000; text-decoration:none;}
#m_r_t #content .cl a:hover{color:#0065A9; text-decoration:none;}
#m_r_b{width:279px; margin-top:10px; padding-bottom:5px; border:1px solid #DFDFDF; background:url('../images/m_r_b_bg1.jpg') no-repeat; background-color:#FBFBFB;float:right; display:inline;}
#m_r_b #hg{width:279px; height:50px; float:left; display:inline;}
#m_r_b .pic{width:115px; height:83px; margin-top:10px; margin-left:10px; float:left; display:inline;}
#m_r_b .pic_content{width:126px; height:83px; margin-top:10px; margin-right:10px; float:right; display:inline; line-height:150%;}#m_r_b .pic_content a{text-decoration:none;}
.idft4{color:#000000; text-decoration:none;}
#m_r_b .cl{width:260px; height:18px; line-height:18px; margin-top:10px; margin-left:10px; overflow:hidden; float:left; display:inline;}
#m_r_b .cl a{text-decoration:none;}
#m_r_b2{width:279px; height:153px; margin-top:10px; background:url('../images/m_r_b2.jpg') no-repeat; float:right; display:inline;}
#m_r_b2 .category{width:75px; height:23px; margin-top:15px; margin-left:14px; line-height:23px; text-align:center; background:url('../images/category_bg.jpg') no-repeat; float:left; display:inline;}
#m_r_b2 .category a{color:#666666; text-decoration:none;}
#upload{width:279px; height:74px; margin-top:10px; float:right; display:inline;}
#b_t{width:100%; height:40px; margin-top:10px; text-align:center; color:#ffffff; background:#1E2020; float:left; display:inline;}
#b_t #b_t_cl{width:1002px; line-height:40px; margin:0 auto;}
#b_t #b_t_cl a{color:#ffffff; text-decoration:none;}
#b_b{width:1002px; text-align:center; margin-top:10px; margin-bottom:10px; float:left; display:inline;}

.idft3{color:#0065A9}
.category_span { cursor:pointer}
.title{cursor:move;}
.m_l_m{background:#FFF}
