body {margin:0px; font-family:Verdana,宋体; font-size:12px; color:#000000;}
#ibody{width:100%; margin:0 auto;}
#itop{width:100%; height:111px; background:url('../images/top_bg.jpg') repeat-x; float:left; display:inline;}
#imiddle{width:1002px; margin:0 auto;}
#ibottom{width:1002px; margin:0 auto;}
#t_t{width:1002px; height:71px; margin:0 auto;}
#t_t #logo{width:212px; height:52px; margin-top:10px; margin-left:1px; float:left; display:inline;}
#t_t_r{margin-top:10px; margin-right:1px; color:#ffffff; text-align:right; float:right; display:inline;}
#t_t_r a{color:#ffffff; text-decoration:none;}
#t_b{width:1002px; height:38px; margin-top:10px; margin:0 auto;}
#t_b_l{margin-top:9px; line-height:20px; float:left; display:inline;}
#t_b_l a{width:57px; color:#ffffff; font-weight:bold; margin-right:87px; text-decoration:none;}
#search{width:281px; margin-top:6px; float:right; display:inline;}
#search input{width:180px; height:25px; padding-top:1px; line-height:24px; padding-left:29px; color:#ffffff; border:0px; background:url('../images/input_bg.jpg') no-repeat; float:left; display:inline;}
#search button{width:71px; height:26px; border:0px; background:url('../images/button_bg.jpg') no-repeat; float:right; display:inline;}
#m_flash1{width:100%; height:434px; text-align:center; background:url('../images/play_bg.jpg') repeat-x; float:left; display:inline}
#m_flash1 #m_f{width:1002px; overflow:hidden; margin:auto;}
#m_flash2{width:100%; height:60px; text-align:center; background:#1E2020; float:left; display:inline;}
#m_flash2 #m_f{width:1002px; height:50px; text-align:center; margin:0 auto;}
#m_flash2 #m_w{width:738px; height:50px; margin-left:132px; float:left; display:inline;}
#m_flash2 #m_f #pic{width:58px; height:50px; margin-top:5px; float:left; display:inline;}
#m_flash2 #m_f #gx{width:240px; margin-left:10px; float:left; display:inline;}
#m_flash2 #m_f .fx{height:19px; margin-top:5px; margin-left:10px; padding-top:3px; padding-left:5px; padding-right:5px; background:#444444; line-height:16px; float:left; display:inline;}
#m_flash2 #m_f .fx a{color:#ffffff; text-decoration:none;}
#m_flash2 #m_f #wl{width:200px; height:25px; margin-top:5px; line-height:16px; color:#cccccc; float:left; display:inline;}
#m_flash2 #m_f #wl button{width:90px; height:22px; margin-left:5px; padding-top:3px; padding-left:20px; border:0px; color:#1B3240; line-height:16px; background:url('../images/play_button_bg.jpg') repeat-x; float:left; display:inline;}
#m_flash2 #m_f #onewl{width:388px; height:16px; margin-top:10px; color:#cccccc; float:left; display:inline;}
#m_flash2 #m_f #onewl #one{width:80px; height:16px; line-height:16px; float:left; display:inline;}
#m_flash2 #m_f #onewl .pic{width:14px; height:14px; float:left; display:inline;}
#m_flash2 #m_f #onewl .cl{height:14px; line-height:14px; float:left; display:inline;}
#m_flash2 #m_f #onewl .cl a{margin-left:3px; color:#cccccc;}
#m_t{width:1002px; height:177px; margin-top:10px; background:url('../images/play_m_t_bg.jpg') no-repeat; float:left; display:inline}
.m_title{width:180px; height:18px; margin-top:15px; margin-left:10px; line-height:18px; font-size:14px; font-weight:bold; float:left; display:inline;}
.m_more{margin-top:20px; margin-right:10px; float:right; display:inline;}
.m_more a{color:#0099FF; text-decoration:none;}
.m_zx{width:58px; line-height:26px; margin-top:15px; margin-right:20px; text-align:center; float:right; display:inline;}
.m_zx a{font-weight:bold; color:#0099FF; text-decoration:none;}
#m_t #content{width:1000px; margin-top:5px; float:left; display:inline;}
#m_t .video{width:147px; height:102px; margin-top:10px; margin-left:10px; margin-right:9px; overflow:hidden; float:left; display:inline;}
#m_t .video a{color:#000000; font-size:12px; font-weight:bold; text-decoration:none;}
#m_l{width:712px; height:245px; margin-top:10px; background:url('../images/play_m_l_bg.jpg') no-repeat; float:left; display:inline;}
#m_l #content{width:700px; height:171px; margin-top:10px; margin-left:6px; float:left; display:inline;}
#m_l #content #left{width:228px; height:171px; float:left; display:inline;}
#m_l #content #right{width:451px; height:171px; line-height:22px; overflow:hidden; float:right; display:inline;}
#m_l #content #right a{color:#000000; text-decoration:none;}
#m_r{width:279px; height:244px; margin-top:10px; float:right; display:inline;}
#m_b_l{width:712px; height:798px; margin-top:10px; background:url('../images/play_m_b_bg.jpg') no-repeat; float:left; display:inline;}
#m_b_l_t{width:700px; height:136px; margin-left:6px; border-bottom:1px dashed #b7b7b7; float:left; display:inline;}
#m_b_l_t #left{width:476px; height:110px; margin-top:10px; float:left; display:inline;}
#m_b_l_t #left input{width:300px; height:24px; line-height:24px; border:1px solid #cacaca;}
#m_b_l_t #left textarea{width:475px; height:46px; line-height:20px; margin-top:5px; border:1px solid #cccccc; background:#F9F9F9; overflow-y:hidden;}
#m_b_l_t #left button{width:70px; height:25px; margin-top:5px; border:0px; background:url('../images/comment_sub.jpg') no-repeat; float:right; display:inline;}
#m_b_l_t #right{width:206px; height:112px; margin-top:10px; margin-right:5px; background:#efefef; float:right; display:inline;}
#m_b_l_t #right #r_l{width:20px; height:60px; margin:10px; float:left; display:inline;}
#m_b_l_t #right #r_r{width:120px; height:50px; margin-top:20px; line-height:20px; float:left; display:inline;}
#m_b_l_t #right #r_b{width:170px; margin-left:18px; float:left; display:inline;}
#m_b_l_t #right #r_b button{width:75px; height:24px; border:0px;}
#m_b_l_b{width:700px; margin-top:10px; margin-left:6px; text-align:center; float:left; display:inline;}
#m_b_l_b #top{width:700px; height:25px; margin-top:10px; border-bottom:1px solid #CDCDCD; float:left; display:inline;}
#m_b_l_b #title{width:100px; line-height:20px; font-size:14px; font-weight:bold; float:left; display:inline;}
#m_b_l_b #commentnum{color:#0065A9; margin-right:10px; float:right; display:inline;}
#m_b_l_b .comment{width:667px; margin-left:11px; margin-top:30px; float:left; display:inline;}
#m_b_l_b .comment .pic{width:52px; height:52px; border:1px solid #cccccc; float:left; display:inline;}
#m_b_l_b .comment .pic img{width:50px; height:50px; border:0px; margin:1px;}
#m_b_l_b .comment .c_title{width:600px; height:30px; line-height:30px; padding-left:7px; text-align:left; font-weight:bold; color:#006699; background:#F5F5F5; float:right; display:inline;}
#m_b_l_b .comment .content{width:600px; margin-top:10px; text-align:left; padding-left:7px; line-height:20px; float:right; display:inline;}
#m_b_l_b .comment .c_bottom{width:600px; margin-top:10px; padding-left:7px; line-height:20px; float:right; display:inline;}
#m_b_l_b .comment .c_b_l{color:#999999; float:left; display:inline;}
#m_b_l_b .comment .c_b_r{width:25px; height:20px; float:right; display:inline;}
#m_b_l_b .comment .c_bottom a{color:#006699; text-decoration:none;}
#m_b_l_b .page{height:32px; margin-top:20px; line-height:22px; text-align:center; float:left; display:inline;}
#m_b_l_b .page .num{width:18px; height:20px; margin-right:10px; border:1px solid #8997B0; float:left; display:inline;}
#m_b_l_b .page a{color:#666666; text-decoration:none;}
#m_b_r{width:279px; height:791px; margin-top:10px; background:url('../images/video_show_b_r_bg.jpg') no-repeat; float:right; display:inline;}
#m_b_r #title{width:250px; height:16px; margin-top:10px; margin-left:10px; font-size:14px; font-weight:bold; line-height:16px; float:left; display:inline;}
#m_b_r .category{width:75px; height:23px; margin-top:15px; margin-left:14px; line-height:23px; text-align:center; background:url('../images/category_bg.jpg') no-repeat; float:left; display:inline;}
#m_b_r .category a{color:#666666; text-decoration:none;}
#m_b_r .content{width:250px; margin-top:20px; margin-left:14px; float:left; display:inline;}
#m_b_r .content .pic{width:115px; height:83px; float:left; display:inline;}
#m_b_r .content .context{width:125px; height:83px; line-height:20px; overflow:hidden; float:right; display:inline;}
#m_b_r .content .context a{color:#000000; text-decoration:none;}
#m_b_r .c_b{width:250px; height:20px; line-height:20px; margin-top:5px; margin-left:14px; overflow:hidden; float:left; display:inline;}
#m_b_r .c_b a{color:#000000; text-decoration:none;}
#b_t{width:100%; height:40px; margin-top:10px; text-align:center; color:#ffffff; background:#1E2020; float:left; display:inline;}
#b_t #b_t_cl{width:1002px; line-height:40px; margin:0 auto;}
#b_t #b_t_cl a{color:#ffffff; text-decoration:none;}
#b_b{width:1002px; height:54px; text-align:center; margin-top:10px; margin-bottom:10px; float:left; display:inline;}
#screen_top{
	width:100%;
	height:110px;
	top:0px;
	left:0px;
	background-color:#000;
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
	position:absolute;
}

#screen_bottom{
	width:100%;
	height:110px;
	top:545px;
	left:0px;
	background-color:#000;
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
	position:absolute;
}

#flash_mar{width:410px; height:20px; text-align:left; overflow:hidden; font-size:14px; position:absolute; color:#00A8FF; line-height:20px;}
#mar div{height:25px;margin:0;padding:0}
