s.ssfont1{ font-size:14px; color:#000000; font-weight:bold;}
.ssfont2{ font-size:12px; color:#999999;}
.ssfont3{height:20px; font-size:12px; color:#666666; padding-left:15px; padding-right:5px; background:#ffffff; float:left;}
.ssfont4{ font-size:14px; color:#095EB3; font-weight:bold;}
.ssfont3_sel{height:30px; font-size:12px; color:#ffffff;  background:url(../images/untitled.jpg) no-repeat;}
.ssfont3_sel2{height:30px; font-size:12px; color:#ffffff;  background:url(../images/untitled2.jpg) no-repeat;}

#imiddle div div a{ text-decoration:none;}



#ssbg{ width:100%; height:183px; float:left; background-image:url(../images/ssbg.jpg);}
#sspic1{ width:990px; height:170px; margin:0 auto;}
#sspic1 a{margin-top:20px; margin-left:25px; float:left;}
#sspic1 img{border:0}
#push_right{width:50px; height:73px; cursor:pointer; margin-top:55px; float:left;}
#push_left{width:28px; height:57px; cursor:pointer; margin-left:25px; margin-top:55px; float:left;}
#ssbg1{ width:1002px; height:249px; float:left; margin-top:15px; display:inline; background-image:url(../images/ssbg1.jpg);}
#sswz1{ height:43px; float:left; margin-left:15px; display:inline; line-height:43px;}
#sswz2{ width:942px; float:left; margin-left:30px; display:inline; line-height:43px; border-bottom:1px #CCCCCC dashed;}
#sswz3{ width:120px; height:43px; float:left; line-height:43px;}
#sswz4{  height:22px; float:left; margin-top:12px; margin-right:15px; display:inline; line-height:22px;}
#ssnr1{ width:992px; float:left; margin-top:10px; padding:10px 0px 0px 10px; display:inline; border:1px #E6E9EA solid;}
#ssnr2{ width:968px; height:128px; float:left; margin-bottom:10px; padding:12px 0px 0px 12px; display:inline; background-image: url(../images/ssbg3.jpg);}
#ssnr3{ width:230px; height:116px; float:left;}
#ssnr4{ width:550px; height:116px; float:left; margin-left:13px; display:inline;}
#ssnr5{ width:550px; height:24px; float:left; line-height:24px;}
#ssnr6{ width:150px; height:24px; float:left; line-height:24px;}
#ssnr7{ width:400px; height:24px; float:left; line-height:24px;}
#ssnr8{ width:160px; height:116px; float:left;}
#ssnr8 .digg{width:58px; height:45px; padding-top:13px; text-align:center; font-weight:bold; cursor:pointer; color:#ffffff; background:url('../images/search_digg.jpg') no-repeat; float:right; display:inline;}
#ssnr8 .zt{width:160px; height:16px; margin-top:37px; line-height:16px; float:left; display:inline;}
#ssnr9{ width:1002px; height:30px; float:left; margin:40px 0px 10px 0px; display:inline; text-align:center;}
#ssnr9 .page{height:32px; line-height:22px; text-align:center; float:left; display:inline;}
#ssnr9 .page .num{width:18px; height:20px; margin-right:10px; border:1px solid #8997B0; float:left; display:inline;}
#ssnr9 .page a{color:#666666; text-decoration:none;}
